<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PetMain">

	<select id="selectAll" resultType="PetMain">
		select * from petMain order by petMain_idx asc
	</select>
	
	<select id="select" parameterType="int" resultType="PetMain">
		select * from petMain where petMain_idx=#{petMain_idx}
	</select>
	
	<insert id="insert" parameterType="PetMain">
		insert into petMain(petMain_name) values(#{petMain_name})
	</insert>	
	
	<update id="update" parameterType="PetMain">
		update petMain set petMain_name=#{petMain_name}
		where petMain_idx=#{petMain_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from petMain where petMain_idx=#{petMain_idx}
	</delete>	

</mapper>